/* Style footer */

footer {
    width: 100%;
    color: #F9FAF9;
    background-color: #130F0C;
    font-size: 16px;               
    text-align: center;

    display: flex;
    flex-direction: column;         
    align-items: center;
    justify-content: flex-end;

    padding: 16px;
    gap: 24px;
}

.copyright {
    padding: 0;
    margin: 0;
    font-size: 12px;                
}

.footer-global-display {
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1;
    padding: 24px 0px;
}

.footer-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1;
    padding: 24px 0px;

    border-top: solid 2px #7C817B;
    border-bottom: solid 2px #7C817B;
}

.footer-social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex: 1;
    padding: 24px 0px;
}

.footer-contacts-links {
    color: #F9FAF9;
    text-decoration: none;
}

.footer-contacts-links:hover,
.footer-contacts-links:focus {
    color: #7C817B;
    text-decoration: underline;
}

/* MEDIA QUERIES - breakpoint idem Bootstrap */

@media screen and (min-width: 768px) {
    /* MD */
    .footer-global-display {
        flex-direction: row;
        width: 100%;
    }

    .footer-container {
        flex: 1.5;
    }

    .footer-contact-container {
        flex: 1;

        border-top: none;
        border-bottom: none;
        border-left: solid 2px #7C817B;
        border-right: solid 2px #7C817B;
    }

    .footer-social-container {
        flex-direction: column;
        align-items: center;
        gap: 16px;

        flex: 0.5;
    }

    .footer-container,
    .footer-contact-container,
    .footer-social-container {
        padding: 0px;
    }
}