/* Style main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 63px;                   
    width: 100%;                        /* change selon media queries */

    padding: 40px 32px;
    gap: 32px;
}

/* style index page */
.index-container {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 375px;                       /* change selon media queries */
    height: 85vh;
}

.index-title,
.index-btn {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 24px;
}

.index-title {
    width: 100%;
    flex: 2;
}

.index-btn {
    flex: 1;
}

.index-title > h1,
.index-title > h2 {
    font-size: 24px;
    color: #B63B1A;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.index-title > h1 {
    text-align: left;   
}

.index-title > h2 {
    text-align: right;
}


/* Style autres pages */
h1,
h2 {
    text-align: left;
    width: 100%;
    font-size: 24px;
}

h1 {
    font-weight: 600;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 16px;
}

article > img {
    width: 100%;
    height: auto;
    border: 4px solid #7C817B;
}

article > section {
    width: 100%;
    text-align: justify;
}


/* MEDIA QUERIES - breakpoint idem Bootstrap */

@media screen and (min-width: 576px) {
    /* SM */
    /*
    font-size
    header : 24px
    default : 18px
    secondary : 16px
    tertiary caption : 12px
    */
}

@media screen and (min-width: 768px) {
    /* MD */
    /*
    font-size
    header : 28px
    default : 18px
    secondary : 16px
    tertiary caption : 12px
    */
    main {
        width: 58%;                         /* change selon media queries */
    }

    .index-container {
        width: 550px;                       /* change selon media queries */
    }
}

@media screen and (min-width: 992px) {
    /* LG */
    /*
    font-size
    header : 28px
    default : 18px
    secondary : 16px
    tertiary caption : 12px
    */
}

@media screen and (min-width: 1200px) {
    /* XL */
    /*
    font-size
    header : 32px
    default : 20px
    secondary : 18px
    tertiary caption : 14px
    */
}

@media screen and (min-width: 1400px) {
    /* XXL */
    /*
    font-size
    header : 32px
    default : 20px
    secondary : 18px
    tertiary caption : 14px
    */
}